:root {
  --main-orange: orange;
  --main-dark: #1a1a1a;
  --main-green: greenyellow;
  --main-white: aliceblue;
  --main-darkgree: teal;
}

* {
  font-family: Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
}